{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static "style.css" %}" />
    <title>Weather App</title>
  </head>
  <body
    class="bg-[url('./images/bg_image.jpg')] bg-center bg-cover bg-no-repeat min-h-screen w-full flex flex-col gap-5 items-center justify-start p-10"
  >
    <div class="w-fit flex items-center">
      <h1 class="text-white font-bold text-2xl">Weather App</h1>
      <img src="{% static "images/116.png" %}" alt="" class="w-14 h-14"
      srcset="" />
    </div>

    <form
      action=""
      method="get"
      class="flex w-4/5 md:w-3/5 lg:w-[35%] items-center justify-center gap-2"
    >
      <input
        type="text"
        name="city"
        placeholder="Enter a city..."
        required
        class="py-2 px-3 w-full rounded-full bg-white text-white text-lg outline outline-2 backdrop-blur-lg ease-in-out duration-300 outline-white/70 focus:bg-white/20"
      />
      <button type="submit" class="">
        <ion-icon
          class="text-white font-black text-2xl p-3 bg-white/50 rounded-full"
          name="search"
        ></ion-icon>
      </button>
    </form>
    {% if messages %}
      {% for message in messages %}
        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <span class="font-medium">{{message}}</span> 
      </div>
      {% endfor %}
    {% endif %}
    <!-- Home city card -->
    <div
      class="p-5 w-4/5 justify-between flex rounded-3xl shadow-2xl cursor-pointer transform ease-in-out bg-white/20 duration-500 backdrop-blur-sm md:w-3/5 lg:w-[35%] hover:scale-[105%]"
    >
      <div id="left" class="flex flex-col">
        <div id="top" class="mb-6">
          <p class="font-bold text-5xl text-white">{{temperature}}°C</p>
          <p class="font-semibold text-md text-white">Now</p>
        </div>
        <p class="font-semibold text-xl text-white">{{city}}, {{country}}</p>
      </div>
      <div id="right" class="flex justify-end items-center">
        <img class="w-28 h-4w-28" src="{{icon_url}}" alt="" />
      </div>
    </div>

    <!-- Weather Details -->
    <!-- Left -->
    <div
      class="flex w-full justify-between bg-[#0198afb6] p-3 backdrop-blur-2xl ease-in-out duration-500 rounded-xl md:w-3/5 lg:w-[35%]"
    >
      <div id="left" class="flex flex-col justify-start">
        <!-- Icon -->
        <img class="" src="{{icon_url}}" alt="weather icon" />
        <!-- Weather -->
        <p class="font-bold text-4xl text-white">{{weather}}</p>
        <!-- Description -->
        <p class="font-semibold text-white">{{weather_description}}</p>
      </div>
      <div id="right" class="w-1/2 flex-col space-y-2">
        <!-- Temperature -->
        <div
          class="flex w-full justify-around items-center bg-white/30 rounded-lg p-1 gap-6"
        >
          <ion-icon class="w-8 h-8 text-white" name="thermometer"></ion-icon>
          <div class="">
            <p class="font-bold text-2xl text-right text-[#ff5a00]">
              {{temperature}} °C
            </p>
            <p class="text-sm text-white text-right">Temperature</p>
          </div>
        </div>
        <!-- Wind Speed -->
        <div
          class="flex w-full justify-around items-center bg-white/30 rounded-lg p-1 gap-6"
        >
          <ion-icon class="w-8 h-8 text-white" name="speedometer"></ion-icon>
          <div class="">
            <p class="font-bold text-2xl text-[#ff5a00] text-right">
              {{wind_speed}} m/s
            </p>
            <p class="text-sm text-white text-right">Wind</p>
          </div>
        </div>
        <!-- Humidity -->
        <div
          class="flex w-full justify-around items-center bg-white/30 rounded-lg p-1 gap-6"
        >
          <ion-icon class="w-8 h-8 text-white" name="rainy"></ion-icon>
          <div class="">
            <p class="font-bold text-2xl text-[#ff5a00] text-right">
              {{humidity}} %
            </p>
            <p class="text-sm text-white text-right">Humidity</p>
          </div>
        </div>
      </div>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
